<h1>Event Details</h1>
<p><strong>Title:</strong> <%= @event.title %></p>
<p><strong>Description:</strong> <%= @event.description %></p>
<p><strong>Date:</strong> <%= @event.event_date %></p>
<p><strong>Creator:</strong> <%= @event.created_by.username %></p>
